* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;

}

body {
    background: rgb(3,0,31);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.App{
    min-height: 100vh;
    display: flex;
}

.sideBar{
    flex: 3;
    border-right: 1px solid rgb(100,100,100);
}

.main{
    flex: 9;
}

.chats{
    height: calc(100v-17rem);
}

.chatFooter{
    width: 100%;

}

.inp{
    width: 68rem;
}


.inp>input{
    width: calc(100% - 3rem);
    color: white;
}

.bot{
    background-color: rgb(30 41 59);
    border-radius: 0.5rem;
    width: fit-content;
}